.about__wrapper {
    background-color: #F8F8F8;
    padding-bottom: 35px;
}
.about__content-wrapper {
    padding-bottom: 16px;
}
.about__content-text {
    margin-top: 0px;
    margin-left: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    padding-top: 24px;
    padding-right: 16px;
}
.about__content-text--display--block {
    display: none;
}
.about__content-button {
    margin-left: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
    border: none;
    background-color: #F8F8F8;
    font-family: "TT Lakes", sans-serif;
}.about__content-button::before {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../img/expand-icon.svg") no-repeat 50% 50%;
    padding-left: 15px;
    margin-right: 10px;
}
@media (min-width: 768px) {
    .about__wrapper {
        padding-bottom: 40px;
    }
    .about__content {
        display: flex;
        padding-top: 32px;
    }
    .about__content-text {
        padding-top: 0;
        padding-right: 60px;
        margin-left: 24px;
    }
    .about__content-text--display--block {
        display: block;
    }
    .about__content-text--display--none {
        display: none;
    }
    .about__content-img {
        border-radius: 6px;
        margin-right: 40px;
    }
    .about__content-button {
        margin-top: -40px;
        margin-left: 24px;
    }
}
@media (min-width: 1120px) {
    .about__content {
        padding-top: 5px;
    }
    .about__content-wrapper {
        flex-basis: 100%;
    }
    .about__content-text {
        padding-right: 48px;
        margin-left: 32px;
        padding-top: 10px;
        width: auto;
    }
    .about__content-button {
        margin-left: 32px;
    }
    .about__content-text--display--none {
        display: inline;
    }
    .about__content-img {
        margin-right: 28px;
    }
}