.about__inner {
    padding: 0 0 24px 0;
}

.about__content-inner {
    margin: 0 16px 16px 16px;
}

.about__content-text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
}

.about__content-text--display--none {
    display: none;
}

.about__content-text--display--block {
    display: none;
}

.about__content-img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .about__inner {
        padding-bottom: 32px;
    }


    .about__content {
        display: flex;
        margin: 0 24px 0;
    }

    .about__content-inner {
        flex-basis: 100%;
        margin: 0;
    }

    .about__content-text {
        margin-right: 48px;
        margin-top: 5px;
    }

    .about__content-text--display--none {
        display: block;
    }

    .about__content-text:last-of-type {
        margin-bottom: 8px;
    }

    .about__img {
        flex-basis: 100%;
    }

    .about__content-img {
        border-radius: 6px;
    }
}

@media (min-width: 1120px) {

    .about__inner {
        padding-bottom: 45px;
    }

    .about__content {
        margin-left: 32px;
        margin-right: 30px;
    }

    .about__content-text {
        margin-top: 10px;
        margin-right: 20px;
    }

    .about__content-text:last-of-type {
        margin-bottom: 15px;
    }

    .about__content-text--display--block {
        display: inline;
    }

}