.contacts {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    transform: opacity 500ms;
    font-weight: 500;
    text-decoration: none;
}

.contacts:hover {
    opacity: 0.5;
}
