.header-nav__list {
    list-style: none;
    display: flex;
    padding: 0;
}
.header-nav__list--right {
    margin-right: 16px;
}
.header-nav__list--left {
    display: none;
}
.header-nav__link {
    display: block;
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
}
.header-nav__link--repair {
    background-image: url("../img/icon-repair.svg");
    margin-right: 16px;
}
.header-nav__link--checkstatus {
    background-image: url("../img/icon-search.svg");
}