.header__inner {
    display: flex;
    height: 88px;
    padding: 0 16px 0 16px;
    align-items: center;
}

.header__logo {
    margin-left: 16px;
    margin-right: auto;
}

.header__help-list--display--none {
    display: none;
}

.header__help-list--pseudo:before {
    content: "";
    border-left: 2px solid #EAEAEA;
    border-radius: 1px;
    height: 32px;
    margin-right: 20px;
    align-self: center;
}

@media (min-width: 768px) {

    .header__help-list {
        margin-left: 20px;
    }

    .header__help-list--display--none {
        display: flex;
    }

    .header__logo {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    .header__logo--pseudo::before {
        content: "";
        border-left: 2px solid #EAEAEA;
        border-radius: 1px;
        height: 32px;
        margin-right: 20px;
    }

    .header__inner {
        padding: 0 24px 0 24px;
    }
}

@media (min-width: 1120px) {

    .header--display--none {
        display: none;
    }
}