
.main-menu__wrapper {
    background-color: #F8F8F8;
}
.main-menu__top {
    padding-top: 24px;
    margin-bottom: 24px;
}
.main-menu__top::before {
    content: "";
    height: 40px;
    border-right: 8px solid #41F6D7;
    border-radius: 5px;
    transform: translateX(-4px);
    position: absolute;
}
.main-menu__title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin: 0 0 0 16px;
}
.main-menu__menu-list {
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    margin-left: 16px;
    display: flex;
    align-items: center;
    
}
.main-menu__menu-list::after {
    content: "";
    position: absolute;
    right: 0;
    width: 24px;
    height: 40px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}
@media (min-width: 768px) {
    .main-menu__title {
        margin-left: 24px;
    }
    .main-menu__menu-list {
        margin-left: 24px;
    }
}