.menu-list {
    list-style: none;
}
.menu-list__buttton {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    white-space: nowrap;
    padding: 8px 16px;
    border: none;
    background-color: #F8F8F8;
}
.menu-list__buttton--active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    padding: 8px 22px;
}
