.menu-list {
    list-style: none;
}

.menu-list__buttton {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    white-space: nowrap;
    padding: 8px 16px;
    border: none;
    background-color: #F8F8F8;
    transition: 500ms;

}

.menu-list__buttton--active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    padding: 8px 22px;
}

.menu-list__buttton--hover:hover {
    opacity: 0.5;
}

@media (min-width: 1120px) {
    .menu-list__buttton {
        margin-right: 20px;
    }

    .menu-list__buttton--active {
        margin-right: 10px;
        margin-bottom: 8px;
    }
}