.modal-menu__logo {
    margin-left: 16px;
    height: 55px;
}

.modal-menu__btn--right {
    margin-left: auto;
}

.modal-menu__nav-list {
    flex-direction: column;
    margin-top: 12px;
    position: relative;
}

.modal-menu__nav-item {
    margin-left: 16px;
    margin-bottom: 15px;
    ;
}

.modal-menu__nav-link {
    display: flex;
    align-items: center;
    height: 32px;
    font-weight: 500;
    color: #1B1C21;
}

.modal-menu__nav-link--active {
    color: #7E7E82;
}

.modal-menu__nav-link--active:hover {
    opacity: 1;
}

.modal-menu__nav-link--active::before {
    content: "";
    height: 32px;
    position: absolute;
    border-left: 8px solid #41F6D7;
    border-radius: 4px;
    left: -4px;
}

.modal-menu__footer {
    margin: 12px 24px 32px 16px;

}

.modal-menu__address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    align-items: flex-start;
}

.modal-menu__tel {
    margin-top: 12px;
}

.modal-menu__lang-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 8px;
}

.modal-menu__lang-item {
    margin-right: 7px;
}

.modal-menu__lang-link {
    color: #1B1C21;
    text-decoration: none;
    font-weight: 500;
    transform: opacity 500ms;
}

.modal-menu__lang-link:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.modal-menu__lang-link--active {
    color: #7E7E82;
}

.modal-menu__lang-link--active:hover {
    opacity: 1;
    text-decoration: none;
}

@media (min-width: 360px) {
    .modal-menu__nav-item {
        margin-left: 24px;
    }

    .modal-menu__footer {
        margin-left: 24px;

    }
}

@media (min-width: 768px) {
    .modal-menu__footer {
        margin-top: 268px;
    }

    .modal-menu__lang-list {
        margin-top: 40px;
    }
}