.nav-list {
    list-style: none;
}
.nav-list__btn {
    border: none;
    background-color: #F8F8F8;
}
.nav-list__btn::after {
    content: "";
    display: block;
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
}
.nav-list__btn--repair::after {
    background-image: url("../img/icon-repair.svg");
}
.nav-list__btn--checkstatus::after {
    background-image: url("../img/icon-search.svg");
}
.nav-list__btn--phone::after {
    background-image: url("../img/icon-phohe.svg");
}
.nav-list__btn--message::after {
    background-image: url("../img/icon-message.svg");
}
.nav-list__btn--profille::after {
    background-image: url("../img/icon-profille.svg");
}
.nav-list__btn-text {
    margin-right: 8px;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
}