@import url(css/TT-lakes.css);
@import url(css/visually-hidden.css);
@import url(css/title.css);
@import url(css/section.css);
@import url(css/btn.css);
@import url(css/page.css);






.section__inner::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    width: 26px;
    height: 100%;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    z-index: 1;
}

.swiper {
    height: 120px;
    margin-left: 16px;
}

.swiper__item {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    height: 72px;
    width: 240px;
}


.swiper__img {
    margin-left: 16px;
}

.swiper__link {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 16px;
    background: url("img/icon-go.svg") no-repeat 50%;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

.swiper-pagination-bullet {
    background-color: #DDDDDD;
    width: 12px;
    height: 12px;
}

.section__btn {
    display: none;
}



@media (min-width: 768px) {


    .swiper {
        height: 170px;
        margin-left: 22px;
        transition: height 500ms ease;
    }

    .swiper__list {
        flex-wrap: wrap;
        gap: 16px 24px;
    }

    .swiper__item {
        display: flex;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        align-items: center;
        cursor: pointer;
        height: 72px;
        flex-basis: 30%;
    }

    .section__btn {
        display: inline-block;
        margin: 14px 0 32px 24px;
    }

    .swiper--height {
        height: auto;
        transition: 500ms ease;
    }
    .section__inner::after {
        display: none;
    }
}



.btn--display--none {
    display: none;
}

@media (min-width: 1120px) {

    .section__title {
        padding-left: 32px;
    }

    .swiper {
        margin-left: 30px;
    }
    .swiper__list {
        gap: 16px 32px;
    }

    .swiper__item {
        flex-basis: 22%;
    }

    .section__btn {
        margin: 14px 0 32px 32px;
    }

}