@import url(common-blocks/header/header.css);
@import url(common-blocks/visually-hidden/visually-hidden.css);
@import url(common-blocks/nav-btn/nav-btn.css);
@import url(common-blocks/btn-icon/--burger/btn-icon--burger.css);
@import url(common-blocks/btn-icon/--checkstatus/btn-icon--checkstatus.css);
@import url(common-blocks/btn-icon/--message/btn-icon--message.css);
@import url(common-blocks/btn-icon/--phone/btn-icon--phone.css);
@import url(common-blocks/btn-icon/--profille/btn-icon--profille.css);
@import url(common-blocks/btn-icon/--repair/btn-icon--repair.css);
@import url(common-blocks/btn-icon/--search/btn-icon--search.css);
@import url(common-blocks/btn-icon/btn-icon.css);
@import url(common-blocks/logo/logo.css);
@import url(common-blocks/logo/__link/logo__link.css);
@import url(common-blocks/nav-list/nav-list.css);
@import url(common-blocks/nav-list/__item/nav-list__item.css);
@import url(common-blocks/section/section.css);
@import url(common-blocks/list/list.css);
@import url(common-blocks/list/__btn/list__btn.css);
@import url(common-blocks);
@import url(common-blocks/btn-content/btn-content.css);
@import url(common-blocks/btn-content/__icon/btn-content__icon.css);
@import url(common-blocks/title/title.css);


.body {
    margin: 0;
    padding: 0;
}

.modal {
    font-family: "TT Lakes", sans-serif;
    margin: 0;
    padding: 0;
}

.modal__wrapper {
    min-width: 320px;
    max-width: 1366px;
    margin: 0 auto;
    overflow: hidden;
}

.modal__window {
    box-sizing: border-box;
    width: 320px;
    box-shadow:
        16px 0px 52px rgba(14, 24, 80, 0.2),
        2px 0px 4px rgba(69, 79, 126, 0.02);
    height: 1024px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}


.modal-menu__header {
    display: flex;
    height: 88px;
    align-items: center;
    margin: 0 24px;

}

.modal-menu__logo {
    margin-left: 16px;
}

.modal-menu__btn--right {
    margin-left: auto;
}

.modal-menu__list {
    margin-top: 12px;
    position: relative;
}

.modal-menu__item {
    margin-left: 24px;
    margin-bottom: 24px;
    ;
}

.modal-menu__item-btn {
    border: none;
    background-color: transparent;
    font-weight: 500;
    color: #1B1C21;
    display: flex;
    align-items: center;
    height: 32px;
}

.modal-menu__item-btn--active {
    color: #7E7E82;
}

.modal-menu__item-btn--active::before {
    content: "";
    height: 32px;
    position: absolute;
    border-left: 8px solid #41F6D7;
    border-radius: 4px;
    left: -4px;
}

.modal-menu__footer {
    margin: 0 24px 32px 24px;
    margin-top: auto;

}

.modal-menu__footer-list {
    display: flex;
}

.modal-menu__address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.address-link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    text-decoration: none;
    transform: opacity 500ms;
    font-weight: 500;
}

.address-link:hover {
    opacity: 0.5;
}

.modal-menu__tel {
    margin-top: 12px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: bold;
}

.modal-menu__lang-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 36px;
}

.modal-menu__lang-item {
    margin-right: 7px;
}
.modal-menu__lang-link--active {
    color: #7E7E82;
}