@media (min-width: 768px) {

    .about__content {
        display: flex;
        margin: 0 24px 0;
    }
}

@media (min-width: 1120px) {

    .about__content {
        margin-left: 32px;
        margin-right: 30px;
    }
}