.about__content-text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
}

@media (min-width: 768px) {

    .about__content-text {
        margin-right: 48px;
        margin-top: 5px;
    }

    .about__content-text:last-of-type {
        margin-bottom: 8px;
    }
}

@media (min-width: 1120px) {

    .about__content-text {
        margin-top: 10px;
        margin-right: 20px;
    }

    .about__content-text:last-of-type {
        margin-bottom: 15px;
    }
}