.btn {
    transition: opacity 500ms,
        transform 500ms;
    cursor: pointer;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $color-text;
    font-weight: 500;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;

    &--circle {
        border-radius: 50%;
        border: none;
    }

    &__icon {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        &--burger {
            background: $color-link url("../img/icon-burger.svg") no-repeat 50%;
        }

        &--close {
            background: $color-link url("../img/icon-close.svg") no-repeat 50%;
        }

        &--search {
            background: $color-link url("../img/icon-search.svg") no-repeat 50%;
        }

        &--phone {
            background: $color-link url("../img/icon-phohe.svg") no-repeat 50%;
        }

        &--message {
            background: $color-link url("../img/icon-message.svg") no-repeat 50%;

        }

        &--profille {
            background: $color-link url("../img/icon-profille.svg") no-repeat 50%;
        }

        &--repair {
            background: $color-link url("../img/icon-repair.svg") no-repeat 50%;

        }

        &--checkstatus {
            background: $color-link url("../img/icon-checkstatus.svg") no-repeat 50%;

        }
    }

    &__description {
        @media (min-width: 1366px) {
            margin: 0 8px 0 0;
            padding: 0;
        }
    }
    
    &:hover {
        opacity: 0.5;
    }

    &__expand {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: top;
        transition: transform 500ms ease;

        &--arrows {
            background: url("../img/expand-icon.svg") no-repeat 50% 50%;

        }

        &--rotate {
            transform: rotate(180deg);
        }
    }
}