$color-text: #1B1C21;
$color-text-placeholder: #B5B6BC;
$pagination-color: #DDDDDD;
$color-gray: #7E7E82;
$color-bg-light: #f8f8f8;
$color-link: #FF3E79;
$color-white: #FFFFFF;
$border-color: #EAEAEA;
$color-decoration: #41F6D7;
$color-section-shadow: #D9FFF5;
$border-menu: #B8FFEC;