.about {
    margin: 0;
    padding: 0 0 24px 0;
}

@media (min-width: 768px) {
    .about {
        padding-bottom: 32px;
    }
}

@media (min-width: 1120px) {

    .about {
        padding-bottom: 45px;
    }
}