.info__title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.info__title::before {
    content: "";
    height: 40px;
    border-left: 8px solid #41F6D7;
    border-radius: 6px;
    position: absolute;
    left: -4px;
}