.page__header-inner {
    display: flex;
    align-items: center;
    height: 88px;
    padding: 0 16px 0 16px;
}

@media (min-width: 768px) {
    .page__header-inner {
        padding: 0 24px 0 24px;
    }

}