.page__header-logo {
    margin-left: 16px;
}

@media (min-width: 768px) {

    .page__header-list--display--none {
        display: flex;
    }

    .page__header-logo {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    .page__header-logo::before {
        content: "";
        border-left: 2px solid #EAEAEA;
        border-radius: 1px;
        height: 32px;
        margin-right: 20px;
    }
}