$var1: #FFFFFF;
$var2: #EAEAEA;
$var3: #FF3E79;
$var4: #1B1C21;
$var5: #FFFFFF;
$var6: #EAEAEA;

.cards {
    background: $var5;
	border: 1px solid $var6;
	border-radius: 6px;
	height: 72px;
	width: 240px;
	transition: transform 500ms ease;

	&:hover {
		box-shadow: 0px 0px 5px 0px;
		transform: scale(1.01);
	}

	@media (min-width: 768px) {
		width: auto;
	}

	@media (min-width: 1120px) {
		width: auto;
	}    

    &__link {
        display: flex;
        height: 100%;
        border-radius: 6px;
        align-items: center;
        text-decoration: none;
        color: $var4;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        position: relative;
    }

    &__logo {
        margin-left: 16px;
    }

    &__title {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $var4;
        font-weight: 600;
        margin: 16px 0 0 16px;
        flex-basis: 66%;
        align-self: flex-start;
    }

    &__img {
        display: block;
        width: 40px;
        height: 40px;
        border: 2px solid $var3;
        border-radius: 50%;
        margin-right: 16px;
        margin-left: auto;
        background: url('../img/icon-go.svg') no-repeat 50%;
    }
}