.footer {
    &__text {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: $color-gray;
        mix-blend-mode: normal;
        opacity: 0.72;
        margin: 0;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        @media (min-width: 768px) {
            text-align: left;
            flex-basis: 33%;
        }

        &--align--right {
            @media (min-width: 768px) {
                text-align: right;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: $color-gray;
        transition: color 500ms ease;

        &:hover {
            color: $color-link;
        }
    }
}