.input {
    border: 1px solid $border-color;
    border-radius: 8px;
    background: $color-white;
    width: 288px;
    height: 48px;
    vertical-align: middle;
    padding-left: 16px;
    font-family: "TT lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $color-text;
    resize: none;

    &::-webkit-input-placeholder {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $color-text-placeholder;
    }

    &::-moz-placeholder {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $color-text-placeholder;
    }

    &:-ms-input-placeholder {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $color-text-placeholder;
    }
}