$var1: #7E7E82;
$var2: #B8FFEC;
$var3: #FFFFFF;
$var4: #1B1C21;

.menu {
    &__inner {
        padding: 24px 0 24px 16px;
        position: relative;
        display: flex;
        overflow: hidden;

        @media (min-width: 768px) {
            padding: 24px 0 24px 24px;
        }

        @media (min-width: 1120px) {
            padding: 42px 32px 0 32px;
            position: relative;
            display: flex;
        }
    }

    &__title {
        font-size: 28px;
        line-height: 40px;
        padding: 0;
        margin: 0;
    }

    &__help-list {


        &--display--none {
            display: none;

            @media (min-width: 1366px) {
                display: flex;
            }
        }

        @media (min-width: 1120px) {
            margin-left: auto;
            padding: 0;
        }
    }

    &__nav {
        position: relative;
    }

    &__nav-list {
        display: flex;
        overflow-x: scroll;
        margin-left: 16px;
        align-items: center;
        margin-bottom: 24px;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            width: 25px;
            height: 40px;
            background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);

            @media (min-width: 1120px) {
                display: none;
            }
        }

        @media (min-width: 768px) {
            margin-left: 24px;
            margin-bottom: 24px;
        }

        @media (min-width: 1120px) {
            flex-wrap: wrap;
            margin-left: 32px;
            margin-bottom: 5px;
            overflow-x: auto;
        }
    }

    &__help-item:not(:last-of-type) {
        @media (min-width: 1120px) {
            margin: 0 16px 0 0;
            padding: 0;
        }
    }

    &__btn {
        @media (min-width: 1120px) {
            display: flex;
            align-items: center;
            font-family: 'TT Lakes';
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: $var4;
            font-weight: 500;
            margin: 0;
            padding: 0;
            border: none;
            background-color: transparent;
        }
    }

    &__btn-text {
        @media (min-width: 1120px) {
            margin: 0 8px 0 0;
            padding: 0;
        }
    }

    &__nav-link {
        white-space: nowrap;
        border: none;
        padding-left: 16px;
        color: $var1;

        &--active {
            border: 2px solid $var2;
            border-radius: 6px;
            background-color: $var3;
            padding: 8px 16px 8px 16px;

            &:hover {
                opacity: 1;
            }
        }

        @media (min-width: 1120px) {
            white-space: wrap;
            padding: 9px 22px;
            margin-top: 8px;
        }
    }
}