.modal-help {
    display: block;

    &--display {
        display: block;
    }

    &__window {
        padding: 24px 16px 0 16px;
    }

    &__close-btn {
        margin-bottom: 32px;
    }

    &__title {
        margin-bottom: 24px;
        display: flex;
        align-items: flex-end;
    }


    &__input {
        margin-bottom: 16px;
    }

    &__textarea {
        margin-bottom: 16px;
        height: 118px;
    }

    &__submit {
        width: 136px;
        height: 32px;
        border: none;
        box-sizing: border-box;
        padding-left: 22px;
        text-align: left;
        margin-left: 168px;
        
        &:hover {
            background-color: #7E7E82;
        }
    }

    &__description {
        margin: 0 0 18px 0;
        line-height: 16px;
        letter-spacing: 0;
        width: 288px;
    }

    &__link {
        color: #FF3E79;
        text-decoration: none;
    }
}