.page {
    font-family: "TT lakes";
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $color-text;
    letter-spacing: -0.2px;
    scroll-behavior: smooth;

    &__body {
        min-width: 320px;
        padding: 0;
        margin: 0;
        position: relative;

        &--overflow {
            overflow: hidden;
        }

        @media (min-width: 1440px) {
            max-width: 1600px;
            margin: 0 auto;
        }
    }

    &__header {
        position: sticky;
        top: 0;
        z-index: 3;

        @media (min-width: 1366px) {
            position: static;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        padding: 16px;
        align-items: center;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            padding: 32px 24px 21px 24px;
        }
    }

    &__main {
        background-color: $color-bg-light;

        @media (min-width: 1366px) {
            margin-left: 320px;
        }
    }

}