.repair {
    &__cards {
            padding-bottom: 95px;

        @media (min-width: 768px) {
            padding-bottom: 5px;
        }
    }

    &__card-item {
        height: 160px;
    }

    &__card-title {
        align-self: flex-start;
    }

    &__card-img {
        align-self: flex-end;
        margin-bottom: 16px;
    }
}