$color-alternate: #7E7E82;

.services {


    &__subtitle {
        margin: 0px 0px 4px 0;
        color: $color-alternate;

        &:not(:first-child) {
            margin-top: 16px;
        }
    }

    &__description {
        margin: 0;
    }

    &__img {
        position: absolute;
        right: 16px;
        bottom: 12px;
        background-position: 85% 10px;
    }
}