.title-modal {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $color-text;
    text-transform: none;
    letter-spacing: -0.6px;
    margin: 0;

    &::before {
        content: "";
        height: 40px;
        border-left: 8px solid $color-decoration;
        border-radius: 6px;
        left: -4px;
        position: absolute;
    }
}