$var1: #1b1c21;
$var2: #41F6D7;

.title-modal {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $var1;
    text-transform: none;
    letter-spacing: -0.6px;
    margin: 0;

    &::before {
        content: "";
        height: 40px;
        border-left: 8px solid $var2;
        border-radius: 6px;
        left: -4px;
        position: absolute;
    }
}