.info__top {
    padding-left: 16px;
    margin-bottom: 24px;
    position: relative;
}

@media (min-width: 768px) {

    .info__top {
        margin-bottom: 28px;
        padding-left: 24px;
    }
}

@media (min-width: 1120px) {
    .info__top {
        display: flex;
        padding-right: 30px;
        padding-left: 32px;
        margin-bottom: 0px;
    }
}